/* --------------------------------- Colors --------------------------------- */

:root {
	--primary: #eb2f64;
	--primary-light: #ff3366;
	--primary-dark: #ba265d;
	--gray-light-1: #faf9f9;
	--gray-light-2: #f4f2f2;
	--gray-light-3: #f0eeee;
	--gray-light-4: #ccc;
	--gray-dark-1: #333;
	--gray-dark-2: #777;
	--gray-dark-3: #999;

	/* --------------------------------- Shadows -------------------------------- */

	--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

/* ---------------------------------- SASS ---------------------------------- */
/* ------------------------------ Break points ------------------------------ */

$bp-xxlg: 112.5em;
$bp-xlg: 75em;
$bp-lg: 65.5em;
$bp-md: 60em;
$bp-sm: 53.75em;
$bp-xsm: 50em;
$bp-xxsm: 37.5em;
$bp-xxxsm: 32.5em;
